/*
 * ZxProto / 0xProto ~ non nerd
 */

/* Regular */
@font-face {
    font-family: "0xProto";
    src: url("/fonts/ZxProto/ZxProto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Regular Italic */
@font-face {
    font-family: "0xProto";
    src: url("/fonts/ZxProto/ZxProto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "0xProto";
    src: url("/fonts/ZxProto/ZxProto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*
 * OBVIOUSLY
 */

@font-face {
    font-family: "Obviously";
    src: url("/fonts/Obviously/Obviously-Bold.otf") format("opentype");
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Obviously";
    src: url("/fonts/Obviously/ObviouslyWide-Black.otf") format("opentype");
    font-weight: 900;
    font-stretch: expanded;
    font-style: normal;
    font-display: swap;
}
