.font-system {
    font-family:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Helvetica Neue",
        Arial,
        sans-serif;
}

.font-gnu-unifont {
    font-family: var(--font-gnu-unifont), monospace;
    text-rendering: optimizeLegibility;
}

.font-noto-sans {
    font-family: var(--font-noto-sans), sans-serif;
    text-rendering: optimizeLegibility;
}

.font-gg-sans {
    font-family: var(--font-ggsans), sans-serif;
    text-rendering: optimizeLegibility;
}
